# ==========================================
# 1. 过滤 ModelSim  QuestaSim 产生的仿真缓存
# ==========================================
      work
      msim
      .mpf
      .wlf
      .ini
      transcript
      vsim.wlf
      
# ==========================================
# 2. 过滤常见的数字 IC 仿真与波形文件缓存
# ==========================================
      # 各种波形文件
      .vcd
      .fsdb
      .shm
      .vpd
      
      # 编译与日志文件
      .log
      .out
      .key
      simv
      csrc
      
# ==========================================
# 3. 过滤操作系统与编辑器的临时文件
# ==========================================
      .DS_Store
      Thumbs.db
      .vscode
      .swp